<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>

    <add key="ida:Tenant" value="msnuget.onmicrosoft.com" />
    <add key="ida:Audience" value="https://msnuget.onmicrosoft.com/NuGet.Services.Messaging" />

  </appSettings>
  
 </configuration>